body{
	background:rgba(210,210,210,.1);
}
.header .title{
	float:left;
	margin-top:0;
}
.header .row{
     margin-top: 10px;
     display:block;
}
.header .lead strong{
	font-family: "幼圆";
	font-size: 30px;
}
.window{
	font-family: "黑体";
	font-size: 22px;
	color:#1C52F4;
	letter-spacing: 0.1em;
	margin-top:8px;
}
.two a{
	font-family: "黑体";
	font-size: 16px;
	color:#333;
	text-decoration:none;

	display:block;
	padding:14px 20px;
	float:left;
}
.nav{
	padding-top: 15px;
	padding-bottom: 5px;
	
}
.nav ul li{
	float:left;
	list-style: none;
	line-height: 20px;
}
.nav ul li a{	
	padding:20px;
	font-size: 18px;
	color:#444;
	font-family: "黑体";
	text-decoration: none;
}
ul li a:hover{		
  color:#1C52F4

}
.search{
	margin-top:35px;
	background:white;
	height:34px;
	width:570px;
	border-radius:4px;
}
.search button{ 
	background-color:rgba(28,82,244,1);
	width:70px;
	height:34px;
	float:left;
	text-align: center;
	border-radius:0 4px 4px 0;
	line-height:34px;
	color:white;
	border:none;
}
.search input{
	background:white;
	height:34px;
	width:500px;
	float:left;
	border-radius:4px 0 0 4px;
}
.content .row{
	margin-top:20px;
	padding-top:20px;
	border-top:1px solid #ccc;
}
.content  h2{
	font-family: "幼圆";
	font-size:30px;
	line-height:28px;
	margin-left: 21px;
}
.content  img{
	border-radius: 8px;
	margin-top:20px;
	float:left;
	width:350px;
}
.panel a{
	font-size:26px;
	text-align: center;
	display:block;
}
.panel ul{
	margin-top:60px;
	float:left;
	margin-left: 60px;
}
.panel ul li{
	list-style: none;
}
.panel ul li p{
	text-align: center;
	display:block;
	line-height: 29px;
	font-size:24px;
}


